.is-cherry:hover {
  background: #ff073a20;
}

.is-blue:hover {
  background: #007bff10;
}

.is-green:hover{
  background: #28a74520;
}

.is-gray:hover {
  background: #6c757d10;
}

.Level .level-item {
  padding: 10px;
  cursor: pointer;
}
